/* style.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 80px 0;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}
.post-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-button:hover {
    background-color: #0056b3;
}
a{
    text-decoration: none; !important;
    color: black;
    transition: color 0.3s;
}
a:hover{
    color: #343a40;
    text-decoration: none !important;
}
.link {
    text-decoration: none !important; /* Altýný çizmeyi kaldýr */
    color: #ffffff; /* Link rengi */
    transition: color 0.3s; /* Geçiþ efekti */
}

/* Linkin üzerine gelindiðinde rengini soluklaþtýr */
.link:hover {
    color: #cccccc; /* Soluklaþtýrýlmýþ link rengi */
}

.blogs-link{
    text-decoration: none !important;
    color: #343a40;
    transition: color 0.3s;
}
.blogs-link:hover{
    color: black;
}
.blogs-div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölge rengi ve boyutu */
}

/* Div elementinin stilini belirle */
.blogs-div {
    border-radius: 10px; /* Kenar yarýçapý, yuvarlak þekil oluþturur */
    transition: box-shadow 0.3s; /* Gölge deðiþim süresi */
}
body {
    font-family: 'Courier New', monospace,Georgia, serif;
}